<h1>What would you like to do today?</h1>
<hr />
<div class="row">


<div class="col-md-6">


<h3><a href="/member/form">New Member Sign-up</a></h3>
</div>
<div class="col-md-6">


<h3><a href="/member/catalog">Member List and Checkout</a></h3>
</div>
</div>
