<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <div class="container">

      @RenderBody()
      <br>
      <br>

<h4><a href="/">Return Home</a></h4>
<h5> <i>“You never know how strong you are until being strong is your only choice.”</i></h5>
    </div>

  </body>
</html>
